<div>
	<% if @job.errors.any? %>
		<div id="error_explanation">
			<h2>Uik??? Got <%= pluralize(@job.errors.count, "error")%> error, huh?</h2>
			<ul>
				<% @job.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>
<div class="container">
	<div class="row">
		<%= form_for @job do |f| %>
		<div class="form-group">
			<%= f.label :job_title %>
			<%= f.text_field :job_title, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :job_description %>
			<%= f.text_area :job_description, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :job_type %>
			<%= f.text_field :job_type, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.submit class: 'btn btn-primary' %>
			<%= link_to 'Back', root_path, class: 'btn btn-danger' %>
		</div>
		<% end %>
	</div>
</div>